html {
    height: 100%;
}

body {
    background: url('/media/header.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
}

hr { 
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
} 

.subtitle {
    background: white;
}

.border-dark {
    border-width: 5px;
}

.text-white {
    color: rgb(255, 255, 255) !important;
}

.try-track {
    font-size: 1.5rem;
}

.main-section{
    margin-top: 150px;
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(75, 75, 75);
    z-index: -1;
}

.product-details-container{
    background: rgb(196, 196, 196);
    padding: 10px;
}

.shopping-bag{
    background: rgb(196, 196, 196);
}

.formbase{
    background: rgb(196, 196, 196);
}

.addproduct{
    background: rgb(196, 196, 196);
    width: 50%;
}
/* ------ Toasts*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.success-msg {
    color: green;
}

.error-msg {
    color: rgb(255, 10, 10);
}

.warning-msg {
    color: rgb(255, 166, 0);
}

.notice-msg {
    color: rgb(0, 126, 245);
}

.items-wrapper{
    height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
}

.toast-checkout{
    position: center;
}
/*------ Media queries*/

@media (max-width: 991px){
.main-section{
    margin-top: 250px;
}

.try-track {
    font-size: 0.8rem;
}

.addproduct{
    width: 100%;
}

}