html {
    height: 100%;
}

body {
    background: url('/media/header.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 200px);
}

.subtitle {
    background: white;
}

.border-dark {
    border-width: 5px;
}

.text-white {
    color: rgb(255, 255, 255) !important;
}

.try-track {
    font-size: 1.5rem;
}

.main-section{
    margin-top: 200px;
}

.overlay{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: rgb(177, 177, 177);
    z-index: -1;
}

/* ------ Toasts*/

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.success-msg {
    color: green;
}

.error-msg {
    color: rgb(255, 10, 10);
}

.warning-msg {
    color: rgb(255, 166, 0);
}

.notice-msg {
    color: rgb(0, 126, 245);
}

.items-wrapper{
    height: 120px;
    overflow-y: auto;
    overflow-x: hidden;
}

.toast-checkout{
    position: center;
}
/*------ Media queries*/

@media (max-width: 991px){
.main-section{
    margin-top: 250px;
}

.try-track {
    font-size: 0.8rem;
}
}