.main-page{
    background: rgb(196, 196, 196);
    padding-right: 10px;
}

.order-summary{
    background: white;
}

.checkoutsuccess{
    background: rgb(196, 196, 196);
}
  
.StripeElement,
.stripe-style-input {
  height: 40px;
  padding: 10px 12px;
  border-radius: 5px;
  background-color: white;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}